#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-image: url(https://www.jeopardy.com/sites/default/files/styles/article_image_960_/public/2020-09/2_empty_set2.jpg?itok=Orwp0_T6);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  width: 100vw;
  height: 100%;
}

.App {
  text-align: center;
  color: White;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  background-color: rgb(44, 104, 243);
  margin: 100px;
  border: rgb(255, 255, 255) 2px solid;
  border-radius: 5px;
}

.header {
  padding: 5px;
  margin: 5px;
}

button {
  height: 50px;
  width: 200px;
  border-radius: 5px;
  margin: 5px;
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 18px;
}

.increase {
  background-color: rgb(70, 180, 94);
}

.decrease {
  background-color: rgb(205, 60, 84);
}

.reset {
  background-color: rgb(225, 233, 112);
}

.questionBtn {
  background-color: rgb(243, 172, 5);
}

.answerBtn {
  background-color: darkblue;
  color:aliceblue;
}

#question {
  color: white;
  margin: 10px;
}

h3 {
  color: goldenrod;
}

