#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  color: White;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  background-color: rgb(3, 157, 157);
}

.header {
  padding: 5px;
  margin: 5px;
}

button {
  height: 50px;
  width: 100px;
  border-radius: 5px;
  margin: 5px;
  font-weight: bolder;
  font-size: 18px;
}

.increase {
  background-color: rgb(55, 55, 111);
}

.decrease {
  background-color: rgb(242, 147, 163);
}

.reset {
  background-color: red;
}

.questionBtn {
  background-color: goldenrod;
}

.answerBtn {
  background-color: darkblue;
  color:aliceblue;
}

#question {
  color: white;
}

h3 {
  color: goldenrod;
}

